@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  line-height: 1.5;
  font-family: "Arvo", serif;
  font-weight: 400;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.mid_content {
  background-image: linear-gradient(5deg, #000000ba, transparent),
    url(/img/7.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.custom {
  text-shadow: 3px 3px 5px black;
}
.logoClass img {
  height: 71px;
}
.aboutHeading h2 {
  color: grey;
  font-size: 30px;
  width: auto;
  text-align: center;
  margin: 90px 0px;
}
.aboutContent h2 {
  color: grey;
  font-size: 20px;
}
span.format {
  color: #4d8ced;
  font-weight: 600;
}
.sectionForAboutus {
  display: flex;
  margin: auto;
}
.aboutContent {
  background: white;
  text-align: center;
  height: 270px;
  margin: 10px 0px;
  visibility: visible;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 11px #d5cece;
  margin: 0 20px;
  border-top: 4px solid #4d8ced;
}
.overlay {
  position: absolute;
  top: 0%;
  overflow: hidden;
  transition: 0.5s all;
  height: 250px;
  width: 90%;
  background: #4d8ced;
  color: #fff;
  align-items: center;
  transform: scale(-0.3, 0);
  padding: 10px 20px;
}
.aboutContent:hover .overlay {
  position: absolute;
  z-index: 1000;
  opacity: 1;
  transform: scale(1, 1);
  display: flex;
  height: 100%;
  width: 100%;
}
.aboutColumn {
  margin: auto;
  padding-top: 60px;
  width: 30%;
}
img.slider-gallery {
  width: 100%;
}
.messageBox {
  border: 6px solid #4d8ced;
  position: relative;
  margin-top: 40px;
  padding: 57px 20px;
}
.topStyle {
  text-align: center;
  background: #303030;
  color: white;
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translate(-50%, -0%);
  padding: 0 0px;
  font-size: 28px;
  font-weight: 700;
  width: 80%;
}
.messageBox h2 {
  font-size: 40px;
  text-align: center;
  margin: 29px 0;
  font-weight: 700;
}
.messageBox p {
  text-align: center;
  color: black;
  margin: 30px 0;
  font-size: 20px;
}
p.italic {
  font-style: italic;
  margin: 5px 0;
}
.navBar {
  z-index: 999999;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
li.p-4 {
  font-size: 26px;
}
.container2 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0 60px;
}
.list-item li {
  font-size: 17px;
}
.list-item h4 {
  font-size: 20px;
}
.container2 .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 0 0px 0px 40px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.container2 .card:hover {
  height: 320px;
}

.container2 .card .image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
  z-index: 1;
  border-radius: 40px;
}

.container2 .card .image img {
  max-width: 100%;
  border-radius: 15px;
}

.container2 .card .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container2 .card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

ul li .submenuBar:hover .sub-menu {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
.sub-menu.mega-menu.mega-menu-column-4 {
  width: 43%;
  display: flex;
  padding: 10px;
  background: white;
  color: black;
  position: absolute;
  left: 55%;
  top: 100%;
  transition: 0.5s all;
  visibility: hidden;
  opacity: 0;
}
h4.title {
  padding: 10px 0;
}
.list-item {
  display: list-item;
  padding: 34px 50px;
}
.list-item {
  display: list-item;
}
li.p-4.submenuBar:hover .sub-menu.mega-menu.mega-menu-column-4 {
  visibility: visible;
  opacity: 1;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(228, 45%, 44%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}
.sliderBottomContent {
  background: linear-gradient(10deg, #000000ba, transparent), url(/img/6.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 90px 0;
}
.sliderCenterContent {
  width: 34%;
  margin: auto;
  text-align: center;
  background: #4d8ced;
  color: white;
  padding: 90px 100px;
}
.sliderCenterContent h2 {
  color: white;
  font-weight: bold;
  margin: 40px 0;
  line-height: 46px;
  font-size: 30px;
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
  font-size: 17px;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
  margin-top: 130px;
}
.box h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
  font-size: 22px;
}
li.p-4:hover {
  color: #4d8ced;
  transition: 0.5s all;
}
@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}
.pg-footer {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #4d8ced;
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #4d8ced;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: black;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

.slick-slide {
  margin: 0 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-initialized .slick-slide {
  display: block;
}
.copy {
  padding-top: 250px;
}
.cardLeftContent {
  background: #a5a4a4;
  color: white;
  padding: 10px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 370px;
}
/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

@media (max-width: 1000px) {
  .aboutContent {
    width: auto;
    margin: 20px;
  }
  .sectionForAboutus {
    display: block;
    width: auto;
  }
  .aboutColumn {
    width: 90%;
  }
  .container2 {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: block;
    height: auto;
  }
  .container2 .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
  }
  .container2 .card:hover .content {
    margin-top: 60px;
  }
  .container2 .card .image {
    position: relative;
    width: 260px;
    height: 260px;
    top: -30%;
    left: 0;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    z-index: 1;
    border-radius: 40px;
    margin: auto;
  }
  .sliderCenterContent p {
    font-size: 14px;
    padding: 30px 10px 0 10px;
  }
  .sliderCenterContent h2 {
    color: white;
    font-weight: bold;
    margin: 0;
    line-height: 23px;
    font-size: 20px;
  }
  .sliderCenterContent {
    width: 50%;
    margin: auto;
    text-align: center;
    background: #4d8ced;
    color: white;
    padding: 40px 0;
  }
  .topStyle {
    padding: 0 9px;
  }
  .orange {
    margin-top: 0;
  }
}
